#main-content-container {
    padding: 10px;
    margin: 10px;
}

li {
    list-style: none;
}

.margin-left {
    margin-left: 5px;
}

.card-padding{
    padding: 3px;
}

#five-day {
    margin: 0;
    padding: 0;
}

#history-ul {
    padding: 0 0 0 15px;
}